@import url("https://fonts.googleapis.com/css?family=Mitr");

$green: #06d6a0;
$red: #ff006e;
$purple: #8338ec;
$blue: #3a86ff;
$yellow: #ffbe0b;
$orange: #fb5607;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background-color: #f2f2f2;
    height: 100%;
    margin: 0;
    font-family: "Mitr", sans-serif;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.red-box {
    background-color: $red;
}

.purple-box {
    background-color: $purple;
}

.blue-box {
    background-color: $blue;
}

.yellow-box {
    background-color: $yellow;
}

.orange-box {
    background-color: $orange;
}

.h-full {
    height: 100%;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
